{% extends 'base.html.twig' %}
{% block body %}
<style>
    html {
        scroll-behavior: smooth;
    }

    .producto{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%; /* Ajusta el ancho de la imagen para que se ajuste al contenedor */
        height: 430px; /* Altura fija para todas las imágenes */
        object-fit: cover; /* Escala la imagen para llenar el contenedor */
    }

    .enlace{
        text-decoration: none;
        color: black;
    }

    .tarjeta{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .tarjeta .card-img-top {
        width: 100%; /* Ajusta el ancho según sea necesario */
        height: 200px; /* Altura fija para todas las imágenes */
        object-fit: cover; /* Escala la imagen para llenar el contenedor */
    }

    .descripcion-limitada {
        max-height: 72px; /* Altura máxima de la descripción */
        overflow: hidden; /* Oculta cualquier texto que sobresalga */
        white-space: normal; /* Permite que el texto se divida en múltiples líneas */
    }

    .carousel-container {
        width: 85%; /* Ajusta el ancho del carrusel */
        margin: 0 auto; /* Centra el carrusel horizontalmente */
    }
</style>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {{ parent() }}
    <script>
        $(document).ready(function(){
            $('a[href="#listaCategorias"]').on('click', function(event) {
                event.preventDefault();
                var target = this.hash;
                var $target = $(target);

                // Obtén la posición del elemento objetivo y ajusta según sea necesario
                var offset = $target.offset().top - 190; // Puedes ajustar el valor de -20 según sea necesario

                $('html, body').stop().animate({
                    'scrollTop': offset
                }, 100, 'swing', function () {
                    window.location.hash = target;
                });

                // Despliega la lista de categorías si está colapsada
                if (!$target.hasClass('show')) {
                    $target.collapse('show');
                }
            });
        });
    </script>
{% endblock %}

{% block header %}
    {% include 'cabecera.html.twig' %}
{% endblock %}

<div class="container mt-4 mb-3">
    {% if productos|length > 0 %}
    <div class="carousel-container">
        <h3 class="text-center mb-3">{{categoria.nombre}}</h3>
        <div id="productosCarrusel" class="carousel  slide carousel-fade carousel-dark slide">
            <div class="carousel-indicators">
                {% for producto in productos %}
                    <button type="button" data-bs-target="#productosCarrusel" data-bs-slide-to="{{ loop.index0 }}" class="{% if loop.first %}active{% endif %}" aria-current="{% if loop.first %}true{% else %}false{% endif %}" aria-label="Slide {{ loop.index }}"></button>
                {% endfor %}
            </div>
            <div class="carousel-inner">
                {% for producto in productos %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <a href="{{ path('app_verProducto', {id: producto.id}) }}"><img src="{{ asset('imagenesProductos/' ~ producto.fotos[0].nombre) }}" class="producto d-block rounded-4" alt="..."></a>
                        <div class="carousel-caption d-none d-md-block">
                            <h5 style="color: white;">{{producto.nombre}}</h5>
                            <p style="color: white;" class="descripcion-limitada">{{producto.descripcion}}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productosCarrusel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productosCarrusel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <p class="text-center mb-3 mt-2">
            <a href="{{ path('app_categoria', {id: categoria.id}) }}">Ir a {{categoria.nombre}}</a>
        </p>{% if productosCategoria|length > 0 %}<hr>{% endif %}
    </div>
    {% endif %}
    {% if productosCategoria|length > 0 %}
        <div class="row">
            <h3 class="text-center mb-3 mt-2">Otros productos({{productosCategoria[0].categoria.nombre}})</h3>
            {% for producto in productosCategoria %}
                <div class="col-md-4">
                    <div class="tarjeta card mb-3">
                        <a href="{{ path('app_verProducto', {id: producto.id}) }}"><img src="./imagenesProductos/{{ producto.fotos[0].nombre }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title"><a class="enlace" href="{{ path('app_verProducto', {id: producto.id}) }}">{{producto.nombre}}</a></h5>
                            <p class="card-text descripcion-limitada">{{producto.descripcion}}</p>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('app_verProducto', {id: producto.id}) }}" class="btn btn-warning">Ver Producto</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <p class="text-center mb-3 mt-2">
                <a href="{{ path('app_categoria', {id: productosCategoria[0].categoria.id}) }}">Ir a {{ productosCategoria[0].categoria.nombre }}</a>
            </p>
        </div>
    {% endif %}
    <div class="row" style="justify-content: center;">
    <hr class="w-75">
        <div class="col-12">
            <h4 class="text-center mb-3 mt-2">Explora Otras Categorias</h4>
            <p class="mb-3 mt-2">
                Además de nuestra selección de productos del terreno, nuestra tienda ofrece una variedad de otras categorías cuidadosamente seleccionadas. Te invitamos a explorar estas categorías adicionales, donde encontrarás una amplia gama de productos que pueden ser de tu interés. <!--Haz clic en el enlace a continuación para descubrir más.-->
                <a href="#listaCategorias">Ver Categorías</a>
            </p>
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html.twig' %}
{% endblock %}

{% endblock %}
