{% extends 'base.html.twig' %}
{% block body %}
<style>
    .producto{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .producto .card-img-top {
        width: 100%; /* Ajusta el ancho según sea necesario */
        height: 200px; /* Altura fija para todas las imágenes */
        object-fit: cover; /* Escala la imagen para llenar el contenedor */
    }

    /* CSS personalizado */
    .descripcion-limitada {
        max-height: 72px; /* Altura máxima de la descripción */
        overflow: hidden; /* Oculta cualquier texto que sobresalga */
        white-space: normal; /* Permite que el texto se divida en múltiples líneas */
    }

    .pagination .page-link {
        color: #000 !important; /* Color Warning de Bootstrap*/
    }

    .pagination .page-item.active .page-link {
        background-color: var(--bs-warning) !important;
        border-color: var(--bs-warning) !important;
        color: #000 !important; /* Black text */
    }

    .pagination .page-link:hover {
        background-color: var(--bs-warning) !important;
        color: #000 !important; /* Hover texto negro*/
    }

    .enlace{
        text-decoration: none;
        color: black;
    }
</style>

{% block header %}
    {% include 'cabecera.html.twig' %}
{% endblock %}

<div class="container mt-4">
    <h3 class="mb-3">{{categoria.nombre}}</h3>
    <div class="row">
        {% if productos|length > 0 %}
            {% for producto in productos %}
                <div class="col-md-4">
                    <div class="producto card mb-3">
                        <a href="{{ path('app_verProducto', {id: producto.id}) }}"><img src="./imagenesProductos/{{ producto.fotos[0].nombre }}" class="card-img-top" alt="..."></a>
                        <div class="card-body">
                            <h5 class="card-title"><a class="enlace" href="{{ path('app_verProducto', {id: producto.id}) }}">{{producto.nombre}}</a></h5>
                            <p class="card-text descripcion-limitada">{{producto.descripcion}}</p>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('app_verProducto', {id: producto.id}) }}" class="btn btn-warning">Ver Producto</a>
                            <!--{% if usuario != null and usuario.rol == "Administrador" %}
                                <a href="{{ path('app_modificarProducto', {id: producto.id}) }}" class="btn btn-warning">Modificar Producto</a>
                            {% else %}
                                <button type="button" class="btn btn-warning">Añadir al pedido</button>
                            {% endif %}-->
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% if numPaginas > 1 %}
            <div class="d-flex justify-content-center mt-4">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item {{ paginaActual == 1 ? 'disabled' : '' }}">
                            <a class="page-link" href="{{ path('app_categoria', {id: categoria.id, 'paginaActual': paginaActual - 1}) }}">Previous</a>
                        </li>
                        {% for i in 1..numPaginas %}
                            <li class="page-item {{ paginaActual == i ? 'active' : '' }}">
                                <a class="page-link " href="{{ path('app_categoria', {id: categoria.id, 'paginaActual': i}) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item {{ paginaActual == numPaginas ? 'disabled' : '' }}">
                            <a class="page-link" href="{{ path('app_categoria', {id: categoria.id,'paginaActual': paginaActual + 1}) }}">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
            {% endif %}
        {% elseif productos|length == 0 %}
            <p>No hay ningun producto todavia. Se añadiran proximamente</p>
        {% endif %}
    </div>
</div>
{% endblock %}
